<div>
    <label>Exercise Type</label>
    <input type="text" />
</div>
<div>
    <label>Weight</label>
    <input type="text" />
</div>
<div>
    <label>Reps</label>
    <input type="text" />
</div>
<div
    class="px-4 py-4"
    @onclick="RemoveComponent">Remove</div>

@code {
    [Parameter]
    public EventCallback OnRemoveExerciseComponent { get; set; }

    public async Task RemoveComponent()
    {
        await OnRemoveExerciseComponent.InvokeAsync();
    }
}
