@page "/newworkout"
@inject INewWorkoutService NewWorkoutService
@using ExEtc.Mobile.Components
@using ExEtc.Mobile.Data
@using ExEtc.Mobile.Services

<h3>Create New Workout</h3>
<form>
    <div>
        <label>Title</label>
        <input type="text"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text"/>
    </div>
    @for(int i=0; i<ExerciseCounter; i++)
    {
        <div>
            <label>Type</label>
            <input type="text"/>
        </div>
    }
    
    <button @onclick="NewExercise">Add New Exercise</button>
</form>

@code {
    public int ExerciseCounter = 0;
    public void NewExercise()
    {
        ExerciseCounter++;
        StateHasChanged();
    }
}
