@page "/newworkout"
@inject INewWorkoutService NewWorkoutService
@using ExEtc.Mobile.Components
@using ExEtc.Mobile.Data
@using ExEtc.Mobile.Services

<h3>Create New Workout</h3>
<form>
    <div>
        <label>Title</label>
        <input type="text"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text"/>
    </div>
    @foreach(var exercise in Exercises)
    {
        <div>
            @exercise.Title
        </div>
    }
    
    <button @onclick="NewExercise">Add New Exercise</button>
</form>

@code {
    public List<ExerciseDto> Exercises => NewWorkoutService.GetExercises();
    public void NewExercise()
    {
        NewWorkoutService.NewExercise();
    }
}
