@page "/newworkout"
@inject INewWorkoutService NewWorkoutService
@using ExEtc.Mobile.Components
@using ExEtc.Mobile.Data
@using ExEtc.Mobile.Services

<h3>Create New Workout</h3>
<form>
    <div>
        <label>Title</label>
        <input type="text"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text"/>
    </div>
    @foreach(var exercise in ExerciseList)
    {
        <NewExerciseComponent Exercise="exercise"/>
    }
    
    <div 
        class="px-4 py-4"
        @onclick="NewExercise">Add New Exercise</div>
</form>

@code {
    public List<ExerciseDto> ExerciseList => NewWorkoutService.GetExercises();
    public void NewExercise()
    {
        NewWorkoutService.NewExercise();
        StateHasChanged();
    }
}
