@page "/newworkout"
@using ExEtc.Mobile.Components
@using ExEtc.Mobile.Data

<h3>Create New Workout</h3>
<form>
    <div>
        <label>Title</label>
        <input type="text"/>
    </div>
    <div>
        <label>Category</label>
        <input type="text"/>
    </div>
    <button @onclick="AddExercise">Add New Exercise</button>
</form>

    @code {
    public List<ExerciseDto> Exercises { get; set; }
    public void AddExercise()
    {
        var component = new NewExerciseComponent();
        
    }
}
